.linkList {
  margin: 0;
  padding: 0;
}

.linkLi {
  display: inline;

  &:not(:last-child) {
    margin-right: 1em;
  }

  a {
    color: #f0f0f0;
    display: inline-block;
    padding: 8px 0 12px;
    text-decoration: none;

    &:hover,
    &:focus,
    &[aria-current='page'] {
      border-top: 4px solid #f0f0f0;
      text-decoration: none;
    }
  }
}
