.ventForm {
}

.form {
  width: 100%;
}

.error {
  color: red;
  font-size: 0.875em;
  font-weight: 700;
  margin: 0;
}

.label {
  display: inline-block;
  font-weight: 700;
  margin-top: 1em;
}

.input,
textarea {
  margin-top: 0.25em;
  width: 100%;
}

.textarea {
  height: 200px;
  resize: vertical;
}
